@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  width: 100vw;
  height: 80px;
  transition: padding 450ms ease, background 500ms ease-in-out;
  z-index: 10;
}

.cart_icon_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.downHeader {
  height: 70px;
  padding: 2.5rem 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.downHeader a,
.downHeader h1 {
  color: gray;
}

.downHeader a:hover {
  color: black;
}

.downHeader img {
  color: white;
}

header h1 {
  color: white;
}

header ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}

header a {
  color: #fbeaf4ff;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 150ms ease;
}

header a:hover {
  color: white;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(110vh - 80px);
  background: url("https://vimcosmo.com/pics/home-cover.webp");
  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  color: white;
  user-select: none;
}

main {
  background-color: #fefefe;
}

.organic__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 5rem 0;
}

.organic__section img {
  width: 40%;
  object-fit: contain;
  border-radius: 0 15rem 15rem 0;
}

.organic__section div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 55px;
}

.organic__section h1 {
  width: 15ch;
  font-size: 4rem;
  font-weight: 600;
}

.organic__section p {
  color: gray;
  font-weight: 500;
  font-size: 1.4rem;
  width: 45ch;
}

.organic__section button {
  border: none;
  background: none;
  padding: 2rem 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
  background-color: #e6f2ffff;
  border-radius: 100px;
  color: #158effff;
  transition: all 250ms ease-in-out;
}

.organic__section button:hover {
  color: white;
  background: #158effff;
}

.popular-products__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
}

.popular-products__section h1 {
  font-size: 3rem;
  font-weight: 500;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1);
  gap: 40px;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 1rem;
}

.product_add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.product img {
  border-radius: 4rem;
  width: 13vw;
  object-fit: contain;
  transition: transform 350ms ease;
}

.product img:hover {
  transform: scale(1.05);
}

.product h3 {
  font-size: 1.1rem;
}

.product span {
  font-size: 1.2rem;
  font-weight: 600;
}

.product button {
  background-color: #f9bddeff;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  border-radius: 5rem;
  color: black;
  font-family: "Poppins";
  cursor: pointer;
  font-weight: 600;
  transition: all 250ms ease-in-out;
}

.product button:hover {
  transform: scaleX(1.1);
  background: #158effff;
  color: white;
}

.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background-color: #f9bddeff;
  font-family: "Poppins";
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #ff8297ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
}

.button:hover {
  background: #ff8297ff;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:hover .button__icon img {
  transform: rotate(90deg);
  transition: all 50ms;
}

.button:active .button__icon {
  background-color: #e682a4ff;
}

.showing_more .button__icon {
  width: 148px;
  transform: translateX(0);
}

.showing_more .button__icon img {
  transform: rotate(90deg);
  transition: all 50ms;
}

.cards_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 25%;
  gap: 1rem;
  padding: 2rem;
  border-radius: 100% 80%;
  transition: background 250ms, border-radius 0ms;
}

.card:hover {
  background-color: rgba(249, 189, 222, 0.3);
}

.card img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}

.card h2 {
  font-weight: 500;
}

.card p {
  text-align: center;
  color: gray;
  font-weight: 500;
  width: 25ch;
}

.magnet {
  transition: all 500ms ease;
}

.parallax {
  background-image: url('https://vimcosmo.com/pics/footer.webp');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.parallax-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  gap: 2rem;
}

.parallax-info h1 {
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  max-width: 20ch;
  text-align: center;
}

.parallax-info input {
  padding: 1rem 1.5rem;
  width: 100%;
  background: whitesmoke;
  border-radius: 10rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Poppins';
}

.parallax-info input::placeholder {
  color: #158effff;
  font-family: 'Poppins';
  font-weight: 600;
}

.parallax-info button {
  background: none;
  border: none;
  font-family: 'Poppins';
  font-weight: 600;
  background-color: #158effff;
  font-size: 1rem;
  color: white;
  border-radius: 10rem;
  padding: 1rem 2rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  color: white;
}

footer ul {
  font-size: 2rem;
  display: flex;
  font-weight: 700;
  gap: 1rem;
}

footer i {
  cursor: pointer;
  background-color: black;
  border-radius: 100%;
  padding: 10px;
  color: white;
  transition: transform 100ms ease,color 200ms ease;
}

footer i:hover {
  transform: scale(1.05);
  color: pink;
}